In [2]:
import pandas as pd

In [20]:
df = pd.read_csv('insurance_data.csv')
age = df[(df['age'] >= 35) & (df['age'] <=39)]
age[age['claim'] == 0].count()

logged          2440
agency_type     2440
channel         2440
duration        2440
product_code    2440
policy_code     2440
destination     2440
net_sales       2440
comission       2440
age             2440
claim           2440
Unnamed: 11        0
Unnamed: 12        1
Unnamed: 13        1
Unnamed: 14        1
dtype: int64

In [9]:
688+4812

5500

In [21]:
199/2440

0.08155737704918033

,logged,agency_type,channel,duration,product_code,policy_code,destination,net_sales,comission,age,claim,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,ratio
0,01022019--11:24,Travel Agency,Online,15,7791,EPX_COMP_01022019,HONG KONG,112.0,5.29,36,0,NaN,688.0,4812.0,0.142976,NaN
1,01022019--11:40,Travel Agency,Online,28,9136,CWT_RENV_01022019,MALAYSIA,29.7,17.82,44,0,NaN,199.0,NaN,0.081557,NaN
2,01022019--11:52,Airlines,Online,43,4356,JZI_BP_01022019,PHILIPPINES,33.0,11.55,41,0,NaN,2440.0,NaN,NaN,NaN
3,01022019--11:58,Airlines,Online,9,4391,JZI_BP_01022019,AUSTRALIA,35.0,12.25,37,0,NaN,NaN,NaN,NaN,NaN
4,01022019--14:36,Travel Agency,Online,7,9172,CWT_RENV_01022019,SWITZERLAND,19.8,11.88,48,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5495,31102019--18:21,Travel Agency,Online,6,9181,CWT_RENV_31102019,UNITED KINGDOM,59.4,35.64,56,0,NaN,NaN,NaN,NaN,NaN
5496,31102019--18:30,Travel Agency,Online,15,7758,EPX_COMP_31102019,HONG KONG,26.0,0.00,36,0,NaN,NaN,NaN,NaN,NaN
5497,31102019--18:39,Travel Agency,Online,107,5861,EPX_CP_31102019,THAILAND,36.0,0.00,36,0,NaN,NaN,NaN,NaN,NaN
5498,31102019--18:56,Travel Agency,Online,8,7745,EPX_COMP_31102019,MACAO,32.0,0.00,50,0,NaN,NaN,NaN,NaN,NaN
5499,31102019--23:57,Travel Agency,Online,216,7792,EPX_COMP_31102019,ITALY,34.0,11.00,36,1,NaN,NaN,NaN,NaN,NaN